.loginMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh; 
    min-width: 100svw; 
    background-image: url('../../img/cool-background.png'); /* Adjust the path to match the location of your image */
    background-size: cover;
    background-position: center;
  }
  
  .loginPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border: 1px solid black;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .loginForm {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
  }
  