.mainEditorContainer {
	border: 1px solid black;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	align-items: center;
}

.editorToolbar {
	display: flex;
	width: 100%;
	gap: 1rem;
}

.editorTitleContainer {
	display: flex;
	padding-left: 1rem;
	gap: 2rem;
	align-items: center;
}

.documentParametersContainer {
	display: flex;
	width: 100%;
	gap: 3rem;
}

.editorTitleContainer input {
	width: 50rem;
	padding: 0.5rem;
}

.priorityContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.finalDateContainer {
	display: flex;
	gap: 1rem;
}
